<%= form_for(detail_three) do |f| %>
  <% if detail_three.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(detail_three.errors.count, "error") %> prohibited this detail_three from being saved:</h2>

      <ul>
      <% detail_three.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :loan %>
    <%= f.text_field :loan %>
  </div>

  <div class="field">
    <%= f.label :term %>
    <%= f.text_field :term %>
  </div>

  <div class="field">
    <%= f.label :rate %>
    <%= f.text_field :rate %>
  </div>

  <div class="field">
    <%= f.label :disburse_date %>
    <%= f.date_select :disburse_date %>
  </div>

  <div class="field">
    <%= f.label :pay_strt_date %>
    <%= f.date_select :pay_strt_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
