<p id="notice"><%= notice %></p>


<table class="table table-hover">
  <tr>
    <th>Date</th>
    <th>Previous Balance</th> 
    <th>Principal Payment</th>
    <th>Interest</th>
    <th>Total Payment</th>
    <th>Ending Balance</th>
  </tr>

  
    <% for i in 0..(@detail_two.term-1) do%>
      <tr>
        <td><%= @dte[i].strftime('%m/%d/%Y') %></td>
        <td><%= '%.2f' % @pb[i] %></td> 
        <td><%= '%.2f' % @pp[i] %></td>
        <td><%= '%.2f' % @intp[i] %></td>
        <td><%= '%.2f' % @tp[i] %></td> 
        <td><%= '%.2f' % @eb[i] %></td>
      </tr> 
    <% end %>
  
</table>








<%= link_to 'Edit', edit_detail_two_path(@detail_two) %> |
<%= link_to 'Back', root_path %>
